* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  transition: all 0.9 ease;
  padding-bottom: 10px;
}

.header {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 160px;
  gap: 60px;
  padding: 20px;
  background: #edecec;
  box-shadow: 3px 19px 42px -5px rgba(109, 109, 109, 1);
  -webkit-box-shadow: 3px 19px 42px -5px rgba(109, 109, 109, 1);
  -moz-box-shadow: 3px 19px 42px -5px rgba(109, 109, 109, 1);
  color: #fff;
  background: #000;
}

.headerContact {
  align-items: center;
  text-align: center;
}

.headerNumber {
  align-items: center;
  text-align: center;
}

.headerPlace h2 {
  margin-bottom: 5px;
}

.header p {
  font-size: 18px;
}

.headerContact h2 {
  margin-bottom: 15px;
}

.headerNumber a {
  text-decoration: none;
  display: block;
}

.headerLogo {
  width: 84px;
  height: 84px;
  border-radius: 30px;
  margin-right: 160px;
  margin-left: 100px;
}

.logo {
  cursor: pointer;
  width: 34px;
  height: 34px;
  border-radius: 30px;
  margin-right: 10px;
  border: 2px solid #fff;
}

.telegramLogo {
  border: none;
}

.info {
  width: 134px;
  background: #000;
}

.phoneNumber {
  color: rgb(233, 233, 233);
}

.carousel {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 130px;
  width: 1200px;
  height: 500px;
}

.carouselImg {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  filter: none;
  width: 100%;
  height: 600px;
}

.onson {
  margin-right: 10px;
  color: #ffeb4b;
}

.admin {
  background: #a8a8a8;
  display: block;
  width: 1000px;
  margin-left: 250px;
}

.imgName {
  width: 1000px;
  padding: 20px;
  background: #212123;
}

.imgName h1 {
  display: inline-block;
  margin-left: 50px;
  color: #ffeb4b;
}

.rasrochka {
  color: #ffeb4b;
}

.avatar {
  display: inline-block;
  width: 170px;
  height: 170px;
}

.infoSmm {
  margin-top: 60px;
}

.adminRezyume {
  display: flex;
  margin-top: 20px;
  padding: 30px;
  background: #000;
  color: #fff;
}

.adminInfo {
  text-align: center;
  width: 400px;
  height: auto;
}

.adminMenu {
  margin-right: 20px;
}

.adminMenu a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

.infoLogo {
  text-align: center;
  width: 45px;
  height: 45px;
}

.language {
  margin-right: 50px;
}

.language h1 {
  font-size: 30px;
}

.language h2 {
  font-size: 25px;
  text-align: center;
}

.Expertise h1 {
  font-size: 30px;
}

.Expertise h2 {
  font-size: 25px;
  text-align: center;
}

.SkillsSummarry {
  text-align: center;
  display: flex;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.smm,
.logoC,
.videoE {
  display: flex;
}

.skills h2 {
  width: 270px;
}

.skills img {
  width: 250px;
}

.skills p {
  transition: all 0.7s ease;
  padding: 10px;
  background: #fff;
  color: #000;
  border-radius: 10px;
}

.skills p:hover {
  background: #000;
  color: #fff;
}

.onsonRassrochka {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.Info {
  color: #fff;
  background: transparent;
}

.banner3 {
  width: 1000px;
  height: 480px;
  margin-left: 240px;
}
